<div class="container">
    <h1>Description about Square Education</h1>

    <div class="rows">

        {{#each data.foundationTeam}}
        <h2>
            <span>{{this.facultyName.first}}</span> &nbsp;
            <span>{{this.facultyName.last}}</span>
        </h2>
        {{/each}}
    </div>

    <div class="rows">

        {{#each data.pillarTeam}}
        <h2>
            <span>{{this.facultyName.first}}</span> &nbsp;
            <span>{{this.facultyName.last}}</span>
        </h2>

        {{/each}}
    </div>

</div>