<div class="container">
    <h1>List of centers</h1>
    <div class="container">

        <div class="rows">
            {{#each data.centers}}
            <h2>
                <span>{{this.centerName}}</span>
            </h2>
            {{/each}}
        </div>


    </div>
</div>