body {
  background-color: rgba(248, 248, 248, 1);
}
h3 {
  width: 100%;
  height: 400px;
  background-color: aquamarine;
}

.rowSectionx {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  align-content: stretch;
}

#studentCardContainter {
  height: 305px;
  background-color: white;
  /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
  margin: 20px 0;
}

#studentCardContainter > h2 {
  padding: 10px;
  color: white;
  background: #5e35b1;
  margin: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;

  /* font-family: 'Roboto', sans-serif; */
}
.img-wrapper {
  position: relative;
  height: 135px;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.navbar-custom {
  color: #ffffff;
  letter-spacing: 1px;
  /* background-color: #282726; */
  /* background-color: #192e5b; */
  background-color: #6600cc;
}

.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.details {
  color: black;
  padding: 10px 2px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* background: #A7414a; */
  background-color: #ffcc00;
}

.cardInfo {
  background-color: white;
  height: 87px;
}

#testimonialCardDetails {
  height: 200px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
  overflow: hidden;
}

#testimonialCardDetails > img {
  width: 75px;
  height: 75px;
  margin: 15px;
  float: left;
}

#testimonailParent {
  margin: 10px;
}

#testimonialSquare {
  font-size: 12px;
  color: gray;
  letter-spacing: 0.5px;
}
#testimonialText {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.titleText {
  font-size: 18px;
  color: #6600cc;
  font-weight: 500;
}

.titleSubText {
  font-size: 14px;
  color: black;
  text-transform: lowercase;
  letter-spacing: 0.5px;
}

.title {
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  margin-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.titleRight {
  float: right;
  font-size: 18px;
  color: dodgerblue;
  margin-right: 15px;
  cursor: pointer;
  padding-top: 10px;
}

.col-sm-3 {
  background-color: rebeccapurple;
  color: white;
}

.titleBrand {
  font-weight: 500;
  color: white;
}

.studentName {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  color: #6600cc;
}

.studentSchoolName {
  text-align: center;
  letter-spacing: 0.5px;
  color: black;
}

.prof td {
  padding: 2px;
  background-color: antiquewhite;
  padding: 5px;
}

#professionalCardContainter {
  height: 400px;
  background-color: white;
  /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
  margin: 20px 0;
}

.btn-primary {
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#splotLight{
  margin-top: 20px;
  border: 1px solid gray;
}
