body{
  background-color: rgba(248, 248, 248, 1);
}
h3 {
  width: 100%;
  height: 400px;
  background-color: aquamarine;
}

.rowSectionx {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  align-content: stretch;
}

#studentCardContainter {
  height: 275px;
  background-color: white;
  /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
  margin: 20px 0;
}

#studentCardContainter > h2 {
  padding: 10px;
  color: white;
  background: #5e35b1;
  margin: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;

  /* font-family: 'Roboto', sans-serif; */
}
.img-wrapper {
  position: relative;
  height: 150px;
  width: 100%;
  
}
.details {
  color: #fcfcf7;
  padding: 10px;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(69, 59, 209);
}

.cardInfo {
  background-color:white;
  height: 87px;
}

#testimonialCardDetails {
  height: 200px;
  background: white;
  margin-top: 20px;
  /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
  overflow: hidden;
}

#testimonialCardDetails > img {
  width: 75px;
  height: 75px;
  margin: 10px;
  float: left;
}

#testimonailParent {
  margin: 10px;
  clear: both;
}

#testimonialSquare {
  font-size: 12px;
  line-height: 25px;
  color: #212121;
  opacity: 0.7;
}
#testimonialText {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
  font-style: normal;
  font-size: 14px;
}

.titleText {
  font-weight: 200;
  font-size: 24px;
  color: black;
}

.titleSubText {
  font-size: 14px;
  color: #212121;
  opacity: 0.8;
}

.title {
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  margin-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.titleRight {
  float: right;
  font-size: 18px;
  color: dodgerblue;
  margin-right: 15px;
  cursor: pointer;
  padding-top: 10px;
  
}

.col-sm-3 {
  background-color: rebeccapurple;
  color: white;
}

.titleBrand {
  font-weight: 500;
  color: white;
}

.navbar-custom {
  color: #ffffff;
  
}
